@model SyslogWeb.Models.MongoResultRow

<tr class="@Model.CssClass">
    <td>@Html.Raw(Model.Date.LocalDateTime.ToString().Replace(" ", "&nbsp;"))</td>
    <td style="white-space: nowrap;">
        @if (!Model.HostAsLink)
        {
            @Model.Host
        }
        else
        {
            <a asp-route-q="@($"{Model.Query} host:{Model.Host}")" asp-route-date="@(Model.QueryDate.HasValue?Model.QueryDate.ToString():String.Empty)">@Model.Host</a>
        }
    </td>
    <td>@Model.Severity</td>
    <td>@Model.Facility</td>
    <td>
        @if (!Model.ProgramAsLink)
        {
            @Model.Program
        }
        else
        {
            <a asp-route-q="@($"{Model.Query} program:{Model.Program}")" asp-route-q="@(Model.QueryDate.HasValue?Model.QueryDate.ToString():String.Empty)">@Model.Program</a>
        }
    </td>
    <td>@Model.Text</td>
</tr>